@import './styles/vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.elements-wrapper {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.black {
  width: 20%;
  height: 40px;
  border: 1px solid white;
  background-color: black;
}

.gray {
  width: 20%;
  height: 40px;
  background-color: gray;
  border: 1px solid white;
}

.num {
  display: block;
}

.prompt-left {
  width: 5%;
  &__value {
    width: 2.6rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-color: antiquewhite;
    border: 1px solid;
  }
}

.prompt-top {
  display: flex;
  flex-direction: row;
  width: 15rem;
  height: 40px;
  justify-content: end;
  align-items: center;
  background: antiquewhite;
  &__value {
    display: flex;
    word-wrap: break-word;
    width: 18px;
    border: 1px solid;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 19px;
    font-size: 0.7rem;
  }
}
