@import './styles/vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.elements-wrapper {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: pointer!important;
}

.black {
  width: 20%;
  height: 40px;
  border: 1px solid gray;
  background-color: black;
}

.show-color {
  background-color: black!important;
}

.gray {
  width: 20%;
  height: 40px;
  background-color: white;
  border: 1px solid gray;
}

.elem {
  background-color: white;
  position: relative;
  cursor: pointer!important;
}

.num {
  display: block;
}

.prompt-left {
  width: 5%;
  &__value {
    width: 2.6rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-color: lightgrey;
    border: 1px solid;
  }
}

.prompt-top {
  display: flex;
  flex-direction: row;
  width: 15rem;
  height: 40px;
  justify-content: end;
  align-items: center;
  background: lightgrey;
  &__value {
    display: flex;
    word-wrap: break-word;
    width: 18px;
    border: 1px solid;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 19px;
    font-size: 0.7rem;
  }
}

.crossed {
  position: relative;
}

.crossed::before,
.crossed::after {
  content: '';
  position: absolute;
  width: 2px;
  left: 1.1rem;
  height: 100%;
  background-color: black;
}

.crossed::before {
  transform: rotate(45deg);
}

.crossed::after {
  transform: rotate(-45deg);
}
