@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Inter:wght@100;200;300;400;500;600;700&family=Lemon&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Sedan+SC&family=Shadows+Into+Light&display=swap');
@import './styles/vars.scss';
@import './styles/modal.scss';
@import './styles/main.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

